<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>72cun - 网址收藏</title>
    <link rel="stylesheet" href="/layui/css/layui.css">

    <!-- 右键菜单 -->
    <link href="/css/jquery.contextMenu.min.css" rel="stylesheet">

    <!-- 右边主体的css -->
    <link rel="stylesheet" type="text/css" href="/css/fs.css?v=1.8.4" media="all"/>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css?v=1.8.4" media="all"/>-->

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 顶部菜单栏 -->
    <div class="layui-header">
        <div class="layui-logo"><a  href="javascript:;" style="color: #F0F0F0;font-size: 20px">72cun 网址收藏</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"><img src="/images/code.png" class="layui-nav-img">是你啊小米</a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <!-- 侧边栏 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree fsLeftMenu"  lay-filter="fsLeftMenu" id="fsLeftMenu">
                <li class="layui-nav-item layui-nav-itemed"  style="display: block;">
                    <a href="javascript:;"><i class="fa fa-table"></i> <cite>demo</cite><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this" lay-id="首页"><a href="javascript:;" dataurl="/demo/welcome.html"><i class="layui-icon"></i> <cite>首页</cite></a></dd>
                        <dd><a href="javascript:;" dataurl="/demo/index.html"><i class="fa fa-list"></i> <cite>自动生成的html</cite></a></dd>
                        <dd><a href="javascript:;" dataurl="views/datagrid2/index.html"><i class="fa fa-list"></i> <cite>数据表格2</cite></a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed"  style="display: block;">
                    <a href="javascript:;" ><i class="fa fa-table"></i> <cite>案例</cite><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" dataurl="views/datagrid/index.html"><i class="fa fa-list"></i> <cite>数据表格</cite></a></dd>
                        <dd><a href="javascript:;" dataurl="views/datagrid2/index.html"><i class="fa fa-list"></i> <cite>数据表格2</cite></a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="layui-body layui-form">
        <div class="layui-tab layui-tab-card fsTab" lay-filter="fsTab" lay-allowClose="true">

            <!-- 菜单导航 -->
            <ul class="layui-tab-title" id="fsTabMenu">
                <li class="layui-this" lay-id="首页"><i class="layui-icon">&#xe68e;</i><cite>首页</cite><p class="layui-tab-close" style="display: none;"></p></li>
            </ul>

            <!-- 主体 -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" lay-id="1">
                    <iframe src="/demo/welcome.html?v=1.7.1"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/layui/layui.js"></script><!-- 需要首先加载 -->
<script src="/js/jquery.contextMenu.min.js"></script>
<script type="text/javascript" src="/modules/fs.js?v=1.8.4"></script>
<script>
    layui.use(['layer','fsTab','fsContextMenu','leftSide'], function(){





    });
</script>
</body>
</html>